body * {
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

#map {
  height: 400px;
  width: 80%;
  border:1px solid black;
  display:block;
  margin: 30px auto 0 auto;
  
}

#restaurantListings{
  height: 300px;
  width: 40%;
  border : 1px solid black;
  overflow-y:auto;
  display: block;
  margin-left: 15px;
  padding:0;
  margin:30px auto 0 auto;
}
section{
  font-size:0;
  width:99%;
  margin:0 auto;
  height:auto;
  text-align: center;
}

.nameClass{
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 18px;
  height: 80px;
  width: 70%;
  margin-left:5px;
}
.nameClass h4{
  margin:0; 
}

.nameClass h5{
  margin-bottom:0;  
}
/*
.rowClass > p{
  font-size: 12px;
  margin:0;
  padding:2px;
} */

.rowClass{
  background-color:#50DA69;
  margin: 0;
  cursor: pointer;
  padding:4px;  
  border:.5px solid #EFEFEF;
  color:#2C3811;
  font-size:0;
  list-style-type: none;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  
}

.rowImage{
  display: inline-block;
  border: 1px solid white; 
 /* height: 50px; */
  
}

.nameDiv{
  display: inline-block;  
  width: 300px;
 
/*  height:50px; */
  
}

.noResults{
  font-size: 18px;
  font-weight:bold;

}

.nameDiv > p{
  font-size: 12px;
  margin: 0;
  padding:0;
}

.rowClass:hover, .rowClass:active{
  background-color: #ACDA42;
}

header{
  width:100%;
  height: 50px;
  background-color:#108338;
  top:0;
  left:0;
  position:absolute;  
  color:white;
  padding-top: 5px;
}

body{
  margin:0;
  padding-top:0;
  background-color: #061445;
  min-height:100vh;
}
html{
  height:auto;
}

main{
  margin: 50px 0 20px 0;
  padding-bottom: 40px;
  border: 1px solid black;
}


#zipcode{
 /* margin: 0 10px 30px 10px; */
  height: 33px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  display:inline-block;
  text-align:center;
  font-size: 18px;
}

.query-form  button{
  height: 30px;
  width: 100px;
  background-color: lightblue;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px; 
}

.query-form h2{
  text-align: center;
}

#distance{
  display:inline-block;
}

.query-form {
 /* height: 150px; */
  width:100%;
  margin: 0 auto;
  text-align: center;  
}
/*
.query-form  div{
  padding: 5px;
} */

.query-form input{
  margin-right: 5px;
 
}

h2{
  margin:0;
  padding:0;
}

h1{
  padding:0;
  margin:0;
}

@media only screen and (max-width: 640px){
 #map{
   width:90%;
   padding:0;
   margin-bottom: 15px;
  margin: 0 auto 20px auto;
 }
 
 #restaurantListings{
   width: 90%;
   padding:0;
   margin:0 auto;
 }
 
 #zipcode{
   display:inline-block;
   width:90%;
   margin:0 0 10px 0;
 }
 header{
   height:auto;
 }

 .checkboxClass{
   width: 90%;
 }
 select{
   width:90%;
   margin-bottom:15px;
 }
 
 .query-form{
   text-align: center;
   height: auto;
   margin-bottom: 5px;
 }
 footer{
   right:0;
   bottom:0;
   margin: 25px 0 0 0;
 }

}

footer{  
  position: absolute;  
  background-color: #1216CC;
  color: white;
  height: 40px;
  width:100%;
  bottom:0; 
  right:0;
  margin: 0;
  text-align: center;  
}

footer > p{
  padding:5px 0 0 0;
  margin:0;
  font-size: 14px;
}

.container{
  position: relative; 
  min-height: 100vh;
  width: 100%;
  margin:0;
  border: .5px solid lightblue;
}
/*
p  {
  height: auto;
  width: 75%;
  margin:0 auto;
}*/

h3{
  font-weight: bold;
  width:100%;
  float:left;
  font-size: 22px;
  margin-bottom: 5px;  
}


#restaurantImg{
  height: 100px;
  width:110px;
}

#contentDiv{
  font-size:0px;
  border: 1px solid black;
}

#imgDiv, #infoDiv{
  display:inline-block;
}

#infoDiv{
  font-size: 12px;
  padding:5px;
}

#restaurantImg1{
  height: 100px;
  width: 110px;
}

.checkboxClass{
  display: inline-block;
  vertical-align: middle;
  margin:10px;
}

.checkboxClass input{
  transform: scale(1.5);
  float:left;
}

.checkboxClass label{
  word-wrap: break-word;
  line-height: 16px; 
  float: left;
  font-size: 18px;
}

select{
  height: 30px;
  width: 150px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 15px;
}

.formLabelClass{
  font-size: 18px;
  font-weight: bold;
}

.descriptionClass{
  font-size: 20px;    
  text-align:left;
  margin-bottom:5px;
}

.textClass{
  width:75%; 
  margin: 0 auto;
  padding:0;
}
